<div class="about-section">
    <h1>About Us Page</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
  </div>
  <br>
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="/w3images/team1.jpg"  style="width:100%">
        <div class="container">
          <h2>Adlina Jallaludin</h2>
          <p class="title">Supervisor</p>
          <p>adlina@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team2.jpg"  style="width:100%">
        <div class="container">
          <h2>Amira Sudi</h2>
          <p class="title">Assistant Supevisor</p>
          <p>mira@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="/w3images/team3.jpg" style="width:100%">
        <div class="container">
          <h2>Atiqah Rashid</h2>
          <p class="title">Manager</p>
          <p>atiqah@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>