<form [formGroup]="addStudent" (ngSubmit)="createStudent()">


  
      <div class="container">
        <h1>Register Club</h1>
        <p>Please fill in this form to register to a club.</p>
        <hr>
    
        <label for="name"><b>Full Name</b></label>
        <input type="text" placeholder="Enter Name" name="name" id="name"  formControlName="name" required>
  
        <div class="form-group">
          <label class="form-label mt-4"><b>Course </b></label>&nbsp;
          <select class="form-select" id="Course" type="text" formControlName="course">
            <option>CT203</option>
            <option>CT204</option>
            <option>CT206</option>
          </select>
        </div>
  
        <div class="form-group">
          <label class="form-label mt-4"><b>Semester </b></label>&nbsp;
          <select class="form-select" id="semester" type="text" formControlName="semester">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>
        </div>
  
        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" id="email" formControlName="email" required>
    
        <div class="form-group">
          <label class="form-label mt-4"><b>Choose Club </b></label>&nbsp;
          <select class="form-select"  formControlName="clubId">
            <option value="1">Badminton Club</option>
            <option value="2">Futsal CLub</option>
            <option value="3">Hockey Club</option>
            <option value="4">Netball Club</option>
            <option value="5">Volleyball Club</option>
          </select>
        </div>
        <hr>
    
        
      </div>
    
      <div class="container signin">
        <button type="submit" class="registerbtn">Add Student</button>
      </div>
    </form>
  