<!-- <p>list works!</p> -->
<h1>LIST OF STUDENT</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col">Student Name</th>
        <th scope="col">Course</th>
        <th scope="col">Semester</th>
        <th scope="col">Email</th>
        <th scope="col">Club ID</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
         <tr *ngFor="let d of listData">
        <th scope="row">{{d.studId}}</th>
        <td>{{d.name}}</td>
        <td>{{d.course}}</td>
        <td>{{d.semester}}</td>
        <td>{{d.email}}</td>
        <td>{{d.clubId}}</td>
        <td>
          <!-- <button type="button" class="btn btn-warning">Update</button>
          <button type="button" class="btn btn-danger">Delete</button> -->

          <button class="btn btn-sm btn-danger"  (click)="deleteStudent(d.studId)">Delete</button>
          &nbsp;
          <!-- <a [routerLink]="['/editstudent', d.studId]" class="btn btn-sm btn-success">Update</a> -->
          <a [routerLink]="['/editstudent',  d.studId]" routerLinkActive="router-link-active" ><button class="btn btn-sm btn-success">Edit</button></a>

        </td>
      </tr>
    
    </tbody>
  </table>
